<div class="main-heading">
    <h1>{{ data.title }}</h1>
  </div>
  
  <div class="media-description-row ">
    <div class="video-col">
        <ng-container *ngIf="data.video_url; else showImage">
            <video [src]="data.video_url" autoplay muted loop playsinline preload="auto"></video>
          </ng-container>
          
          <ng-template #showImage>
            <ng-container *ngIf="data.image_url">
              <img [src]="data.image_url" alt="service" />
            </ng-container>
          </ng-template>
    </div>
    <div class="desc-col reveal" [innerHtml]="data.desc"></div>
  </div>


  <section class="our-work-section">
    <div class="work-header">
      <div class="work-left">
        <h1>OUR WORK</h1>
      </div>
      <div class="work-right">
        <a routerLink="/works">
          <h5>See all work →</h5>
        </a> 
      </div>
    </div>
  
    <div class="work-images">
      <div *ngFor="let item of work.media.slice(0, 3)" class="work-image">
        <img [src]="item.image" alt="work" />
        <span class="card-brand">{{ item.brand }}</span>
        <h3 class="card-title">{{ item.title }}</h3>
        <!-- <div *ngFor="let type of work.types">
            <p class="card-meta">{{ type }}</p>
        </div> -->
        <div class="type-wrapper animate-type">
            <p class="card-meta">{{ currentType }}</p>
        </div>          
      </div>
    </div>
  </section>
  