* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  /* ========== INTRO SECTION ========== */
  .contact-intro {
    padding: 60px 7vw;
    background: white;
  }
  
  .contact-intro-wrapper {
    display: flex;
    gap: 40px;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .contact-intro-left,
  .contact-intro-right {
    flex: 1 1 45%;
    display: flex;
    align-items: center;
  }
  .contact-intro-right {
    margin-top: -120px;
  }
  
  .contact-intro-left h1 {
    font-size: 5rem;
    font-weight: 900;
    margin: 0;
    color: #000;
  }
  
  .contact-intro-right p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
  }
  
  
  /* ========== FORM SECTION ========== */
  .contact-form-section {
    padding: 40px 0px;
    background: white;
  }
  
  .contact-form-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    padding: 0px 20px;
  }
  
  .contact-form-left{
    flex: 1 1 50%;
    display: flex;
    align-items: center;
  }

  .contact-form-right {
    flex: 1 1 40%;
    display: flex;
    align-items: center;
    margin-top: -40px;
  }
  
  .contact-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  .contact-form-right app-contact-form {
    width: 100%;
    max-width: 565px;
    justify-content: flex-end;
  }
  
  
  /* ========== RESPONSIVE ========== */
  @media (max-width: 768px) {
    .contact-intro-wrapper,
    .contact-form-wrapper {
      flex-direction: column;
    }
  
    .contact-intro-left,
    .contact-intro-right,
    .contact-form-left,
    .contact-form-right {
      flex: 1 1 100%;
      width: 100%;
    }
  
    .contact-intro-left h1 {
      font-size: 2.5rem;
    }
    .contact-intro-right{
        margin-top: -10px
    }
  
    .contact-form-left {
      margin-top: -40px;
    }
  }
  