<!-- Intro Section -->
<section class="contact-intro">
    <div class="contact-intro-wrapper">
      <div class="contact-intro-left">
        <h1>MAKE A BOLD MOVE</h1>
      </div>
      <div class="contact-intro-right">
        <p>
          With a presence across 23 countries, we connect local insights with global expertise—ensuring our solutions are always culturally relevant.
        </p>
      </div>
    </div>
  </section>
  
  <!-- Form + Video Section -->
  <section class="contact-form-section">
    <div class="contact-form-wrapper">
      <div class="contact-form-left">
        <video
          class="contact-video"
          src="https://videos.ctfassets.net/teibi0nrv2xi/7lReyJbMx6rr4s2WLmW3TJ/c473ed449b483fbe3aafa193ea3b8170/contact-us-video.mp4"
          autoplay muted loop playsinline preload="auto"
        ></video>
      </div>
      <div class="contact-form-right">
        <app-contact-form></app-contact-form>
      </div>
    </div>
  </section>
  