<!-- SECTION 1: Make Your Mark -->
<section class="mark-section bg-yellow-gradient">
    <div class="mark-wrapper">
        <div class="mark-left">
        <h2>
            <span>START SOMETHING</span>
            <span>ORIGINAL</span>
        </h2>
        </div>
        <div class="mark-right">
        <p>
            We’re building more than a company — we’re building a home for original thinkers, bold creators, sharp strategists, and makers who want their work to mean something.
        </p>
        <p>At TheOriginals, ambition meets opportunity.
            <br>
            You’ll work on brands that move the world, in an environment that moves just as fast. You’ll collaborate, take ownership, and push ideas from concept to real-world impact.</p>
        <p>
            Whether you're a specialist or a shape-shifter, a creator or a doer — we value people who think big, move fast, and care about the details.
        </p>
      </div>
    </div>
</section>

<section class="mark-image">
<div class="mark-container reveal">
    <img class="mark-bg" src="../../../assets/mark-1.jpg" alt="mark-career">
</div>
</section>

<!-- SECTION 2: Ready original -->
<section class="cta-section bg-white reveal">
    <!-- Background Image -->
    <img src="../../../assets/connect.jpeg" alt="Background" class="cta-bg" />
  
    <!-- Content on top -->
    <div class="cta-overlay">
      <div class="cta-content">
        <div class="cta-text">
          <h2>Ready To Create Something Original?</h2>
          <p>
            Explore open roles or drop us your portfolio.<br />
            We're always looking for the next original.
          </p>
          <p class="cta-email">
            <!-- <strong>Email: </strong> -->
            <a href="mailto:theoriginalsmediaproductions@gmail.com">
              theoriginalsmediaproductions@gmail.com
            </a>
          </p>
          <a href="careers/job-openings" class="btn">
            See job openings →
          </a>
        </div>
      </div>
    </div>
  </section>