<footer class="site-footer">
    <div class="footer-container">
      
      <!-- Column 1 -->
      <div class="footer-col">
        <h4>Explore</h4>
        <ul>
          <li><a href="/works">Works</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/services">Services</a></li>
        </ul>
      </div>
  
      <!-- Column 2 -->
      <div class="footer-col">
        <h4>Opportunities</h4>
        <ul>
          <li><a href="/careers">Careers</a></li>
          <li><a href="/updates">Updates</a></li>
        </ul>
      </div>
  
      <!-- Column 3 -->
      <div class="footer-col">
        <h4>Connect</h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>

  
      <!-- Column 4 -->
      <div class="footer-col">
        <h4>Contact</h4>
        <p class="footer-text">
          In case of any queries, feel free to write to us. We will be very happy to assist you.
        </p>
        <ul>
          <!-- <li><a href="/contact">Contact Us</a></li> -->
          <li>Email: theoriginalsmediaproductions@gmail.com</li>
          <li>Location: Delhi-NCR, India</li>
        </ul>
      </div>
  
    </div>
  </footer>
  